*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url(../img/six.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
header{
    background-color:darkcyan;
    display: flex;
    justify-content: space-evenly;
    
}
header ul{
    display: flex;
    list-style-type: none;

}
header ul li{
    background-color:brown;
    margin-right: 10px;
    padding: 17px;
    border-radius: 10px;

}
header ul li a{
    color: white;
    text-decoration: none;
}
header h2{
    color: white;
    font-family: 'Courier New';
    font-size: 30px;
    padding: 10px;
    border-bottom: 2px solid white;
    height: 42px;
}
i{
    color: black;
}

.drop{ 
    position: relative;
    

}
.drop-items{
    position: absolute;
    display: none;
    flex-direction: column;
    left: 0;
    top: 53px;

}
.drop-items a{
    padding: 20px;
    color: white;
    width: 100%;
    border-bottom: 1px solid white;

}

.drop:hover .drop-items{
    display: flex;
    /* background-color:#126534;  */
    cursor: pointer;
    background: rgba(88, 133, 103, 0.5);
    
}
.drop-items a:hover{
    background-color: darkcyan;
    color: white;
    transition: 0.5s ease;
    
}

